<div class="container mt-5">
  <div class="card shadow-lg">
    <div class="card-header bg-primary text-white">
      <h3>Product List</h3>
    </div>
    <div class="card-body">
      <!-- Search Bar -->
      <div class="mb-3 d-flex align-items-center">
        <input type="text" class="form-control me-2" [(ngModel)]="appState.productsState.keyword" placeholder="Search products...">
        <button (click)="loadProducts()" class="btn btn-outline-success">
          <i class="bi bi-search"></i> Search
        </button>
      </div>

      <!-- Products Table -->
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Checked</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of appState.productsState.products">
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.price | currency }}</td>
          <td>
            <button (click)="handleCheckProduct(product)" class="btn btn-outline-info">
              <i [ngClass]="product.checked ? 'bi bi-check' : 'bi bi-circle'"></i>
            </button>
          </td>
          <td>
            <button (click)="handleEdit(product.id)" class="btn btn-outline-primary">
              <i class="bi bi-pencil"></i> Edit
            </button>
            <button (click)="handleDelete(product.id)" class="btn btn-outline-danger ms-2">
              <i class="bi bi-trash"></i> Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>

      <!-- Pagination -->
      <nav>
        <ul class="pagination">
          <li class="page-item" [ngClass]="{'disabled': this.appState.productsState.currentPage === 1}">
            <button class="page-link" (click)="handleGoToPage(this.appState.productsState.currentPage - 1)">Previous</button>
          </li>
          <li class="page-item" *ngFor="let page of [].constructor(this.appState.productsState.totalPages); let i = index">
            <button class="page-link" (click)="handleGoToPage(i + 1)" [ngClass]="{'active': this.appState.productsState.currentPage === i + 1}">
              {{ i + 1 }}
            </button>
          </li>
          <li class="page-item" [ngClass]="{'disabled': this.appState.productsState.currentPage === this.appState.productsState.totalPages}">
            <button class="page-link" (click)="handleGoToPage(this.appState.productsState.currentPage + 1)">Next</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
